@charset "UTF-8";

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  height: 100%;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;

  -webkit-tap-highlight-color: transparent;
}
body{
    min-height: 100vh;
}
@import './imports.scss'; // import other depanency 

.container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    padding: 0px 15px;
    position: relative;
  
    @media (min-width: 768px) {
      width: 750px;
    }
    @media (min-width: 992px) {
      width: 970px;
    }
    @media (min-width: 1200px) {
      width: 1170px;
    }
  }
  
  .container-fluid {
    width: 100%;
    padding: 0px 15px;
  }
  
  .row-container {
    width: 100%;
    padding: 0px $row-padding;
    position: relative;
    @media (max-width: $defaultMobWidth) {
      padding: 0px $row-padding-mob;
    }
  }